<h1 style="color: rgb(39,55,77); text-align: center; margin-top: 20px; font-weight: 700; font-size: 36px; font-family: 'ZCOOL XiaoWei';">We are about to create a beautiful trip card!</h1>
<div style="display: flex; justify-content: center; margin-top: 30px;">
  <div style="display: flex; justify-content: center; background-color: rgb(221, 230, 237); border: 1px solid rgb(39, 55, 77); border-radius: 5px; box-shadow: 0 0 5px rgb(39,55,77); width: 700px; height: 600px; padding: 30px  30px;">
    <%= simple_form_for [@region, @trip] do |f| %>
      <% if @trip.errors.any? %>
        <div role="alert">
          Could not create a card due to the following issues:
          <ul>
            <% @trip.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <label style="color: rgb(39,55,77); font-weight: 600; font-size: 24px; font-family: 'ZCOOL XiaoWei';">Title</label>
      </div>
      <div>
        <%= f.text_field :name, class: "form-control", placeholder: "Type something..."%>
      </div>
      <div style="margin-top: 10px;">
        <label style="color: rgb(39,55,77); font-weight: 600; font-size: 24px; font-family: 'ZCOOL XiaoWei';">Where?</label>
      </div>
      <div>
        <%= f.association :country, class: "form-control", placeholder: "Where?" %>
      </div>
      <div style="margin-top: 10px;">
        <label style="color: rgb(39,55,77); font-weight: 600; font-size: 24px; font-family: 'ZCOOL XiaoWei';">Where exactly?</label>
      </div>
      <div>
        <%= f.text_field :place, class: "form-control", placeholder: "Where exactly?" %>
      </div>
      <div style="margin-top: 10px;">
        <label style="color: rgb(39,55,77); font-weight: 600; font-size: 24px; font-family: 'ZCOOL XiaoWei';">When?</label>
      </div>
      <div>
        <%= f.text_field :date, class: "form-control", placeholder: "When?" %>
      </div>
      <div style="margin-top: 10px;">
        <label style="color: rgb(39,55,77); font-weight: 600; font-size: 24px; font-family: 'ZCOOL XiaoWei';">Any photos?</label>
      </div>
      <div>
        <%= f.text_field :photo, class: "form-control", placeholder: "Any photos?" %>
      </div>
      <div style="margin-top: 15px;">
        <%= f.submit class: "btn btn-lg", style: "font-weight: 400; font-size: 20px; font-family: 'ZCOOL XiaoWei'; color: white; background-color: rgb(39, 55, 77); border: 1px solid rgb(39, 55, 77); border-radius: 5px;" %>
      </div>
    <% end %>
  </div>
</div>
